* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* top section start */
.top-section {
  width: 95%;
  background-color: #161616;
  margin: 40px auto 40px auto;
  border-radius: 30px;
}
.top-section .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
}
.left-width {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 10%;
}
.top-section-h1 {
  font-size: 3.35em;
  font-family: "poppins", sans-serif;
  font-weight: 600;
  color: #ffffff;
  line-height: 65px;
}
.top-section-p {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
}
.top-section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px 0px 0px;
  width: fit-content;
  background-color: #2a60d1;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  color: #ffffff;
  font-family: "poppins", sans-serif;
  transition: 0.5s;
}
.top-section-btn i {
  margin-left: 3px;
  animation-name: btn-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  position: relative;
}
.top-section-btn:hover {
  background-color: #dd0000;
}
.right-width {
  height: inherit;
  display: flex;
  align-items: flex-end;
}
.right-width img {
  width: 80%;
  height: 476px;
  margin: 0 auto;
}
/* top section end */
/* filter section start */
.filter {
  width: 95%;
  margin: 0px auto 40px auto;
}
.filter .container {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 1%;
  row-gap: 1%;
}
.filter-box {
  height: fit-content;
  margin: 0;
  background-color: #161616;
  display: flex;
  justify-content: center;
  row-gap: 15px;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
}
.filter-box a {
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  padding: 10px 10px;
  color: #161616;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: "poppins", sans-serif;
  font-size: 16px;
}
.filter-box .active {
  background-color: #2a60d1;
  color: white;
}
.filter-box a:hover {
  background-color: #dd0000;
  color: #ffffff;
}
.filter-result {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

article .img {
  width: 100%;
  height: 180px;
  background-repeat: no-repeat;
  border-radius: 5px;
}
article .thu {
  width: 100%;
  height: 180px;
}

.tag {
  padding: 4px 16px;
  border: 1.5px solid #161616;
  border-radius: 5px;
  text-decoration: none;
  width: fit-content;
  font-family: "poppins", sans-serif;
  color: #161616;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.3px;
}
.info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-family: "poppins", sans-serif;
}
.time-comment {
  display: flex;
  column-gap: 30px;
}
.time,
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 7px;
  color: #161616;
  font-family: "poppins", sans-serif;
}
.time span,
.comment span {
  opacity: 70%;
}
.view-all {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.view-all-btn {
  background-color: #2a60d1;
  color: #ffffff;
  padding: 10px 20px;
  font-family: "poppins", sans-serif;
  text-decoration: none;
  border-radius: 5px;
  display: none;
  font-size: 20px;
}
/* filter section end */
/* footer section start */
.footer {
  background-color: #161616;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
  padding: 80px;
}
.footer h1 {
  color: #ffffff;
  font-size: 40px;
  font-family: "poppins", sans-serif;
  letter-spacing: 1.7px;
}
.footer hr {
  background-color: #b9b9b9;
  width: 90%;
  opacity: 20%;
}
.footer nav ul {
  display: flex;
  justify-content: space-evenly;
}
.footer nav ul li {
  margin-left: 20px;
  color: #b9b9b9;
  font-family: "poppins", sans-serif;
  list-style: none;
  font-size: 16px;
}
.footer .social {
  width: 90%;
  margin: 10px auto 0px auto;
  font-size: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  column-gap: 1em;
}
.footer .social a {
  color: #ffffff;
  text-decoration: none;
  transition: 0.4s;
}
.footer .social i {
  background-color: #22213c;
  padding: 10px;
  border-radius: 50px;
  cursor: pointer;
}
.footer .social i:hover {
  color: #22213c;
  background-color: #ffffff;
}
/* footer section end */
/* upcomming section start */
.upcoming .match-img,
.all-group .match-img {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  padding: 1.5% 1% 0px 1%;
  column-gap: 1%;
  justify-content: space-around;
  align-items: center;
}
.upcoming img,
.all-group img {
  height: 80px;
  width: 80px;
  margin: 0 auto;
}
.upcoming h2,
.all-group h2 {
  font-family: "pointer", sans-serif;
}
.match-info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
  text-align: center;
  font-family: "pointer", sans-serif;
  padding-bottom: 30px;
}
.match-info .up-coming {
  background-color: #dd0000;
  color: #ffffff;
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
}
.match-info .result {
  background-color: #073291;
}
.match-info h3 {
  font-weight: 600;
  font-size: 18px;
}
.match-info p {
  color: #4d4d4d;
}
/* upcoming section end */
/* mobile device start */
@media only screen and (max-width: 688px) {
  .top-section .container {
    grid-template-columns: 1fr;
  }
  .left-width {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .top-section-h1 {
    font-size: 30px;
    line-height: 35px;
  }
  .right-width img {
    height: 366px;
    margin: 0 auto;
  }
  .filter .container {
    grid-template-columns: 1fr;
  }
  .filter-box {
    flex-direction: column;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .filter-box a {
    width: 60%;
  }
  .filter-result {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  article {
    width: 80%;
    margin: 0 auto;
  }
  article img {
    width: 100%;
  }

  .bottom-nav nav ul {
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    text-align: center;
  }
  .bottom-nav nav ul li {
    margin: 0;
  }
  .filter-result {
    margin-bottom: 40px;
  }
}

/* mobile device end */
/* Tab device start */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .top-section-h1 {
    font-size: 30px;
    line-height: 35px;
  }

  .left-width {
    padding: 50px;
  }
  .filter .container {
    grid-template-columns: 1fr;
  }
  .filter-box {
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
  }
  .filter-box a {
    width: 60%;
  }
  .filter-result {
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }
  article {
    width: 90%;
    margin: 0 auto;
  }
  article img {
    width: 100%;
  }
  .view-all-btn {
    display: block;
  }
  .bottom-nav nav ul {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 25px;
    justify-content: center;
    text-align: center;
  }
  nav {
    width: 80%;
    margin: 0 auto;
  }
  .bottom-nav nav ul li {
    margin: 0;
  }
  .filter-result {
    margin-bottom: 40px;
  }
}

/* tab device end */
/* animation in button */

@keyframes btn-animation {
  from {
    left: 0px;
  }
  to {
    left: 12px;
  }
}
